.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.title_block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  font-size: 6em;
}

.description_block {
  width: 100%;
  text-align: center;
}
